div#accounts(ng-controller='AccountCtrl')

  header
    a(href="#", ng-click="options.isCollapseAccounts = !options.isCollapseAccounts")
      div.caption
        p.caption__title
          span.icon-users.caption__icon
          span Accounts
          i.fa.fa-angle-up.caption__icon--collapse(ng-class="{rotate180: options.isCollapseAccounts}")

  // search
  div.collapse(collapse="options.isCollapseAccounts")
    div.input-and-btn.top-space-l
      div.form-group.searchform-icon.input
        label.sr-only Search
        input.form-control.input-sm(type='search',
                                    placeholder='search...',
                                    ng-model='searchField.text')
        i.fa.fa-search
      button.btn.rotate__slow(ng-click='toggleAccountSetting()',
                              ng-class="{rotate225: !state.isCollapseSetting, isSaving: state.isSaving}",
                              ng-disabled="state.isSaving",
                              ga-click='toggleForm')
        span.icon-plus

    // add (default collapsed)
    div.well-container.collapse(collapse='state.isCollapseSetting')
      form.well(name='account')

        // Auth way
        div.btn-group.select-mode
          button.btn.btn-xs.select-mode__button(
            type='radio',
            ng-model='authWay',
            btn-radio="'id_pass'",
            ng-disabled="state.isSaving",
            ng-class="{isSaving: state.isSaving}") ID/Pass
          button.btn.btn-xs.select-mode__button(
            type='radio',
            ng-model='authWay',
            btn-radio="'api_key'",
            ng-disabled="state.isSaving",
            ng-class="{isSaving: state.isSaving}") API key

        // Host
        div.property-list.property-list__first
          label.control-label
            span Server URL
            i.fa.fa-asterisk(ng-show='account.url.$error.required')
            input.form-control.input-sm(
              type='text',
              name='url',
              ng-model='authParams.url',
              ng-class='{invalid:!account.url.$valid}',
              placeholder='ex) https://redmine.org',
              ng-disabled="state.isSaving",
              ng-class="{isSaving: state.isSaving}"
              required)

        // Auth
        div.account-setting(ng-switch on="authWay")
          section.animate-switch(ng-switch-when="id_pass")
            include template/_basic_auth
          section.animate-switch(ng-switch-when="api_key")
            include template/_api_key

        // Buttons
        div.account-setting__buttons
          // Add Button
          button.btn.btn-sm.btn-color.account-setting__buttons--add(
            ng-click='findAccount()',
            ga-click='findAccount',
            uz-loading='state.isSaving',
            ng-show="state.isAddingAccount")
            span Add

          // Save Button
          button.btn.btn-sm.btn-color.account-setting__buttons--save(
            ng-click='findAccount()',
            ga-click='findAccount',
            uz-loading='state.isSaving',
            ng-show="state.isSetting")
            span Save

          // Remove Button
          button.btn.btn-sm.btn-color.account-setting__buttons--remove(
            ng-click='openRemoveAccount(authParams.url)',
            ga-click='openRemoveAccount',
            ng-show="state.isSetting",
            ng-disabled="state.isSaving",
            ng-class="{isSaving: state.isSaving}")
            span Remove


    // list
    ul.account-list.bottom-space-l
      li.list(ng-repeat='account in data.accounts | filter:accountFilter | orderBy:"url"',
         ng-click='openAccountSetting(account.url)',
         ng-disabled="state.isSaving",
         ng-class="{isSaving: state.isSaving}",
         ga-click='openAccountSetting')
        .number
        .list-item
          .list-item__label
            span {{account.name}}
          .list-item__description
            span.list-item__id(ng-show="account.id") {{account.id}}
            span.list-item__project {{account.projectsCount}}
            span.list-item__url {{account.url}}
        button.btn.list-item__button--hover(
          type='button')
            i.icon-wrench
