header
  div.caption
    i.fa.fa-angle-left.caption__icon--slide.caption__icon--left(ng-click="changeMode(-1)", ga-click='changeMode')
    p.caption__title
      svg.caption__icon--tomato
        use(xlink:href="#tomato")
      span Pomodoro
    i.fa.fa-angle-right.caption__icon--slide.caption__icon--right(ng-click="changeMode(1)", ga-click='changeMode')

form(action='#', method='POST', name='time_entry')

  // time track
  div.select
    div.inputWidhButton
      div.select-issues.searchform-icon(ng-hide='state.isPomodoring')
        input.sfTypeahead.form-control.input-sm(type="text"
          options="typeaheadOptions"
          datasets="ticketData"
          ng-model="data.selectedTicket"
          ng-click="data.selectedTicket = null"
          placeholder='Select issue...')
        i.fa.fa-angle-down

      div.progress.progress-striped.active(ng-show="state.isPomodoring")
        div.progress-bar(role="progressbar")
          span {{data.selectedTicket.id}} {{data.selectedTicket.text}}
          timer(autostart="false", interval="1000", countdown="countDownSec")
            {{hours|numLength:2}}:{{minutes|numLength:2}}:{{seconds|numLength:2}}

    button.btn(type='button', ng-click='clickSubmitButton()', ga-click='postAuto')
      i.fa(ng-class="{'fa-play': !state.isPomodoring, 'fa-stop': state.isPomodoring}")


  // activity & total
  div.form-inline

    div.select-activity.searchform-icon
      input.sfTypeahead.form-control.input-sm(type="text"
        options="typeaheadOptions"
        datasets="activityData"
        ng-model="data.selectedActivity"
        ng-click="data.selectedActivity = null"
        placeholder='Select activity...')
      i.fa.fa-angle-down

    div.separater

    div.time.time__total
      span {{data.selectedTicket.total}} hr


  // comment
  div.comment
    textarea.form-control(name='comment',
                          rows='2',
                          placeholder='comments...',
                          ng-model='comment.text',
                          ng-change='comment.remain = comment.maxLength - comment.text.length')
    div
      span.label.label-danger(ng-show="comment.remain < 0") {{comment.remain}}
