div#accounts(ng-controller='AccountCtrl')

  header
    div.caption
      div.title
        div.icon
          span.icon-users
        span Accounts

  // search
  .input-and-btn
    div.form-group.search.input
      label.sr-only Search
      input.form-control.input-sm(type='search',
                                  placeholder='search...',
                                  ng-model='searchText')
      i.fa.fa-search
    button.btn(ng-click='isAdding = !isAdding', ga-click='toggleForm')
      span.icon-plus

  // add
  div.add-account.collapse(uz-collapse='isAdding')
    form.well(name='account')

      // Auth way
      div.btn-group.selectAuth
        button.btn.btn-default.btn-xs(type='radio', ng-model='authWay', btn-radio="'id_pass'") ID/Pass
        button.btn.btn-default.btn-xs(type='radio', ng-model='authWay', btn-radio="'api_key'") API key

      // Auth
      div.auth(ng-switch on="authWay")
        section.animate-switch(ng-switch-when="id_pass")
          div(ng-include="'template/basic_auth.html'")
        section.animate-switch(ng-switch-when="api_key")
          div(ng-include="'template/api_key.html'")

      // Add Button
      div.save
        button.btn.btn-default.btn-sm.ladda-button(
          ng-click='addAccount()',
          ga-click='addAccount',
          uz-loading='isSaving',
          data-style='zoom-in',
          data-size='xs',
          data-spinner-color="#555") Add


  // list
  ul.account-list
    li(ng-repeat='account in accounts | filter:accountFilter | orderBy:"url"',
       ng-click='openRemoveAccount(account.url)',
       ga-click='openRemoveAccount')
      .number
      .list-label
        span {{account.url}}
        ul.project-list
          li.list-label(ng-repeat='prj in account.projects')
            span {{prj.name}}
      button.btn(type='button')
        span.icon-minus

