header
  div.caption(ng-click="changeMode()", ga-click='changeMode')
    i.fa.fa-angle-left
    div.title
      div.icon
        span.icon-clock
      span Time Tracking
    i.fa.fa-angle-right

form(action='#', method='POST', name='time_entry')

  // time track
  div.select
    div.inputWidhButton
      div.select-issues.searchform-icon(ng-hide='state.isTracking')
        input.sfTypeahead.form-control.input-sm(type="text"
          options="inputOptions"
          datasets="ticketData"
          ng-model="data.selectedTicket"
          ng-click="data.selectedTicket = null"
          placeholder='Select issue...')
        i.fa.fa-angle-down

      div.progress.progress-striped.active(ng-show="state.isTracking")
        div.progress-bar(role="progressbar")
          span {{data.selectedTicket.id}} {{data.selectedTicket.text}}
          timer(autostart='false', interval="1000") {{hours|numLength:2}}:{{minutes|numLength:2}}:{{seconds|numLength:2}}

    button.btn(type='button', ng-click='clickSubmitButton()', ga-click='postAuto')
      i.fa(ng-class="{'fa-play': !state.isTracking, 'fa-stop': state.isTracking}")


  // activity & total
  div.form-inline

    div.select-activity.searchform-icon
      input.sfTypeahead.form-control.input-sm(type="text"
        options="inputOptions"
        datasets="activityData"
        ng-model="data.selectedActivity"
        ng-click="data.selectedActivity = null"
        placeholder='Select activity...')
      i.fa.fa-angle-down

    div.separater

    div.time
      span total {{data.selectedTicket.total}} hr


  // comment
  div.comment
    textarea.form-control(name='comment',
                          rows='2',
                          placeholder='comments...',
                          ng-model='comment.text',
                          ng-change='comment.remain = comment.MaxLength - comment.text.length')
    div
      span.label.label-danger(ng-show="comment.remain < 0") {{comment.remain}}
