div#header(ng-controller="headerCtrl")

  div.header-bar

    button.window-close(ng-click="closeWindow()")
      .icon-cross

    div.project

      button.project-toggle.project-title(type="button", ng-click="isActive = true")
        span.project-id
          {{data.selectedProject.id}}
        span.project-label
          {{data.selectedProject.text}}
        i.fa.fa-angle-down

      input.form-control.input-sm.project-search.icon-search(
        type="search",
        ng-model="data.projectQuery"
        ng-click="data.projectQuery = ''"
        ng-class="{active : isActive}"
        placeholder="Project...")

      div.project-content(ng-class="{active: isActive}")
        ul.account-list
          li(ng-repeat='account in data.accounts')
            div.numbered-label
              span.numbered-label__label
                {{account.url}}
            ul.project-list
              li(ng-repeat='project in account.projects | orderBy:"id"')
                button.numbered-label(type='button', ng-click="selectProject(project)")
                  span.numbered-label__number
                    {{project.id}}
                  span.numbered-label__label
                    {{project.text}}
                button.btn.numbered-label__star(type='button',
                                                ng-show="options.isProjectStarEnable",
                                                ng-click="toggleStar(project)")
                  i.fa.fa-star(ng-class="{star__enable: project.show==2, star__disable: project.show<2}")

