div#header(ng-controller="headerCtrl")

  div.header-bar
    div.project

      button.project-toggle.project-title(type="button", ng-click="isActive = true")
        span.project-id
          {{data.selectedProject.id}}
        span.project-label
          {{data.selectedProject.text}}
        i.fa.fa-angle-down

      input.form-control.input-sm.project-search.search-icon(
        type="search",
        ng-model="projectSearchText"
        ng-click="projectSearchText = ''"
        ng-class="{active : isActive}"
        placeholder="Project...")

      div.project-content(ng-class="{active: isActive}")
        ul.account-list
          li(ng-repeat='account in data.accounts | orderBy:"url"')
            div.numberedLabel
              span.numberedLabel-label
                {{account.url}}
            ul.project-list
              li(ng-repeat='project in account.projects | orderBy:"id"')
                button.numberedLabel(type='button', ng-click="selectProject(project)")
                  span.numberedLabel-number
                    {{project.id}}
                  span.numberedLabel-label
                    {{project.text}}

