div#issue(ng-controller='IssueCtrl')

  header
    div.caption
      div.title
        div.icon
          span.icon-list
        span Edit list

  form.form-inline(action='#', role='form')

    // select
    div

      // project
      div.form-group.project
        uz-dropdown(items='projects', selected='selectedProject')

      // search
      div.form-group.search
        label.sr-only Search
        input.form-control.input-sm(type='search',
                                    placeholder='search...',
                                    ng-model='searchText')
        i.fa.fa-search


    // issues
    div.issueList
      ul
        li(ng-repeat='issue in issues | filter:issueFilter | orderBy:"id"',
           ng-mousemove='onMouseMove($event)')
          button.issue(type='button', ng-click="onClickIssue(issue)", ga-click='issueItem')
            span.id {{issue.id}}
            span.subject(tooltip-html-unsafe="<h6>{{issue.subject}}</h6><p><span>priority: {{issue.priority.name}}</span><br><span>assigned: {{issue.assigned_to.name}}</span></p>",
                         tooltip-animation="false",
                         tooltip-popup-delay='700',
                         tooltip-placement='{{tooltipPlace}}') {{issue.subject}}
            div.btn(ng-hide='isContained(issue)')
              span.icon-plus
            div.btn(ng-show='isContained(issue)')
              span.icon-minus
            button.btn.external-link(type='button', ng-click="openIssue(issue)", ga-click='issueLink')
              span.fa.fa-info-circle

