div#issue(ng-controller='IssueCtrl')

  header
    div.caption
      div.title
        div.icon
          span.icon-speech
        span Issues

  div

    section

      // ------------------------------------
      //         Search by Keyword
      // ------------------------------------
      div.input-and-btn.bottom-space
        div.searchform.searchform-icon.input
          input.form-control.input-sm(type="text"
            ng-model="searchField.text"
            ng-click="searchField.text = ''"
            placeholder='Issue...')
          i.fa.fa-search
        button.btn(ng-click="isOpen = !isOpen",
                   ng-class="{rotate180: isOpen}",
                   ga-click='openSearch')
          i.fa.fa-angle-down

      // ------------------------------------
      //         Search by Parameters
      // ------------------------------------
      div.well-container.collapse(collapse='!isOpen')
        form.well.input-list(name='account')

          // Query
          div.searchform.searchform-with-icon.property-list
            span Custom queries
            input.sfTypeahead.form-control.input-sm(type="text"
              options="inputOptions"
              datasets="queryData"
              ng-model="data.selectedQuery"
              ng-click="data.selectedQuery = null"
              placeholder='Select Query...')
            i.fa.fa-angle-down

          // Other Parameters
          tabset.property-list__tab(vertical="true")
            tab(heading="{{prop}}",
                ng-repeat="prop in Const.ISSUE_PROPS",
                uz-hover="tab.active",
                active="tab.active")
              ul.property-list.property-list__selection(uz-hover="tab.active")
                li(ng-show="data.selectedProject[prop].length > 2")
                  label(for="checkbox_{{prop}}_all")
                    span All
                    input.checkmark(type="checkbox"
                          id="checkbox_{{prop}}_all"
                          ng-model="data.selectedProject[prop][0].checked"
                          ng-change="clickCheckbox(prop, data.selectedProject[prop][0])")
                li(ng-repeat="option in data.selectedProject[prop]|limitTo:50:1")
                  label(for="checkbox_{{prop}}_{{option.id}}")
                    span {{option.name}}
                    input.checkmark(type="checkbox"
                          id="checkbox_{{prop}}_{{option.id}}"
                          ng-model="option.checked"
                          ng-change="clickCheckbox(prop, option)")
            div.property-list__selected
              ul(ng-repeat="prop in Const.ISSUE_PROPS")
                li(ng-repeat="option in data.selectedProject[prop]|checked")
                  span {{option.name}}


      // ------------------------------------
      //            Issue List
      // ------------------------------------
      div.issue-list
        ul.issue-list__content(ng-class="{'issue-list__content--empty':!data.selectedProject.tickets.length}")
          li.issue-list__item(ng-repeat='item in filtered = (data.selectedProject.tickets | filter:editState.listFilter) | orderBy:"id" | limitTo:options.itemsPerPage : (editState.currentPage - 1) * options.itemsPerPage',
            ng-mousemove='editState.onMouseMove($event)')
            button.numbered-label(type='button', ng-click="editState.onClickItem(item)", ga-click='issueItem')
              span.numbered-label__number {{item.id}}
              span.numbered-label__label(tooltip-html-unsafe="<h6>{{item.text}}</h6><p><span>priority: {{item.priority.name}}</span><br><span>assigned: {{item.assigned_to.name}}</span></p>",
                           tooltip-animation="",
                           tooltip-popup-delay='700',
                           tooltip-placement='{{tooltipPlace}}') {{item.text}}
              div.btn(ng-hide='editState.isContained(item)')
                span.icon-plus
              div.btn(ng-show='editState.isContained(item)')
                span.icon-minus
              button.btn.external-link(type='button', ng-click="editState.openLink(item.url + '/issues/' + item.id)", ga-click='issueLink')
                span.icon-question

      // page
      div.page
        uz-pagination.pagination-small(total-items='filtered.length',
                                       page='editState.currentPage',
                                       items-per-page='options.itemsPerPage',
                                       container='.issue-list__content')

