div#issue(ng-controller='IssueCtrl')

  header
    div.caption
      div.title
        div.icon
          span.icon-speech
        span Issues


  // edit area will change height
  div.animate-height(uz-auto-height='section')

    section

      // ------------------------------------
      //               Query
      // ------------------------------------
      div.searchform.searchform-icon.searchform-icon-before
        div.icon
          span.icon-magnifier
        input.sfTypeahead.form-control.input-sm(type="text"
          options="inputOptions"
          datasets="queryData"
          ng-model="data.selectedQuery"
          ng-click="data.selectedQuery = null"
          placeholder='Query...')
        i.fa.fa-search


      // ------------------------------------
      //            Issue List
      // ------------------------------------
      div.searchform.searchform-icon
        input.form-control.input-sm(type="text"
          ng-model="searchField.text"
          ng-click="searchField.text = ''"
          placeholder='Issue...')
        i.fa.fa-search
      div.issue-list
        ul.issue-list__content(ng-class="{'issue-list__content--empty':!issues.length}")
          li.issue-list__item(ng-repeat='item in issues | filter:editState.listFilter | orderBy:"id"',
             ng-mousemove='editState.onMouseMove($event)')
            button.numbered-label(type='button', ng-click="editState.onClickItem(item)", ga-click='issueItem')
              span.numbered-label__number {{item.id}}
              span.numbered-label__label(tooltip-html-unsafe="<h6>{{item.text}}</h6><p><span>priority: {{item.priority.name}}</span><br><span>assigned: {{item.assigned_to.name}}</span></p>",
                           tooltip-animation="",
                           tooltip-popup-delay='700',
                           tooltip-placement='{{tooltipPlace}}') {{item.text}}
              div.btn(ng-hide='editState.isContained(item)')
                span.icon-plus
              div.btn(ng-show='editState.isContained(item)')
                span.icon-minus
              button.btn.external-link(type='button', ng-click="editState.openLink(item.url + '/issues/' + item.id)", ga-click='issueLink')
                span.icon-question

      // page
      div.page
        uz-pagination.pagination-small(total-items='totalItems',
                                       page='editState.currentPage',
                                       items-per-page='options.itemsPerPage')

