div#issue(ng-controller='IssueCtrl')

  header
    a(href="#", ng-click="options.isCollapseIssues = !options.isCollapseIssues")
      div.caption
        p.caption__title
          i.icon-speech.caption__icon
          span Issues
          i.fa.fa-angle-up.caption__icon--collapse(ng-class="{rotate180: options.isCollapseIssues}")


  div.collapse(collapse="options.isCollapseIssues")

    // ------------------------------------
    //         Search by Keyword
    // ------------------------------------
    div.input-and-btn.bottom-space-s.top-space-l
      div.searchform.searchform-icon.input
        input.form-control.input-sm(type="text"
          ng-model="searchField.text"
          ng-click="searchField.text = ''"
          placeholder='Issue...')
        i.fa.fa-search
      button.btn.rotate__fast(ng-click="toggleSearchForm()",
                              ng-class="{rotate180: isCollapseParameters}",
                              ga-click='openSearch')
        i.fa.fa-angle-up

    // ------------------------------------
    //         Search by Parameters
    // ------------------------------------
    div.well-container.collapse(collapse='isCollapseParameters')
      form.well.input-list(name='account')

        // Query
        div.searchform-with-icon.searchform-icon.property-list
          span Custom queries
          input.sfTypeahead.form-control.input-sm(
            type="select"
            options="inputOptions"
            datasets="queryData"
            ng-model="data.selectedQuery"
            ng-click="data.selectedQuery = null"
            placeholder='Select Query...')
          i.fa.fa-angle-down

        // Other Parameters
        tabset.property-list__tab(vertical="true")
          tab(heading="{{prop.camelize()}}",
              id="id_{{prop}}",
              ng-repeat="prop in Const.ISSUE_PROPS",
              uz-hover="tabState[prop] = hover",
              active="tabState[prop]")
            ul.property-list.property-list__selection(uz-hover="tabState[prop] = hover",
                                                      ng-click="tabState[prop] = false")
              li(ng-show="data.selectedProject[prop].length > 2")
                label(ng-click="clickCheckbox(prop, data.selectedProject[prop][0], $event)")
                  span All
                  input.checkmark(type="checkbox",
                                  ng-model="data.selectedProject[prop][0].checked")
              li(ng-repeat="option in data.selectedProject[prop]|limitTo:50:1")
                label(ng-click="clickCheckbox(prop, option, $event)")
                  span {{option.name}}
                  input.checkmark(type="checkbox",
                                  ng-model="option.checked")
          div.property-list__selected
            ul.searchform-with-icon(ng-repeat="prop in Const.ISSUE_PROPS",
                                    ng-click="tabState[prop] = true",
                                    uz-hover="toggleTabClass(prop)")
              i.fa.fa-angle-right
              li(ng-repeat="option in data.selectedProject[prop]|checked")
                span {{option.name}}

        // List added
        div.property-list
          label
            span Added in list
            input.switch(type="checkbox", ng-model="searchField.onlyContained")


    // ------------------------------------
    //            Issue List
    // ------------------------------------
    div.issue-list
      ul.issue-list__content(ng-class="{'issue-list__content--empty':!data.selectedProject.tickets.length && !state.isLoadingIssue}",
                             uz-loading="isLoadingVisible && state.isLoadingIssue")
        li.issue-list__item(ng-repeat='item in filtered = (data.selectedProject.tickets | filter:editState.listFilter) | orderBy:"id" | limitTo:options.itemsPerPage : (editState.currentPage - 1) * options.itemsPerPage',
          ng-mousemove='editState.onMouseMove($event)')
          button.numbered-label(type='button', ng-click="editState.onClickItem(item)", ga-click='issueItem')
            span.numbered-label__number {{item.id}}
            span.numbered-label__label(tooltip-html-unsafe="<h6>{{item.text}}</h6><p><span>priority: {{item.priority.name}}</span><br><span>assigned: {{item.assignedTo.name}}</span></p>",
                         tooltip-animation="false",
                         tooltip-popup-delay='700',
                         tooltip-placement='{{tooltipPlace}}') {{item.text}}
            div.btn(ng-hide='editState.isContained(item)')
              span.icon-plus
            div.btn(ng-show='editState.isContained(item)')
              span.icon-minus
            button.btn.external-link(type='button', ng-click="editState.openLink(item.url + '/issues/' + item.id)", ga-click='issueLink')
              span.icon-question

    // page
    div.page.bottom-space-l
      uz-pagination.pagination-small(total-items='filtered.length',
                                     page='editState.currentPage',
                                     items-per-page='options.itemsPerPage',
                                     container='.issue-list__content')
