div#issue(ng-controller='IssueCtrl')

  form.form-inline(action='#', role='form')

    // select
    div

      // project
      div.form-group.project
        dropdown(items='projects', selected='selectedProject')

      // search
      div.form-group.search
        label.sr-only Search
        input.form-control.input-sm(type='search',
                                    placeholder='search...',
                                    ng-model='searchText')
        i.fa.fa-search


    // issues
    div.issueList
      ul
        li(ng-repeat='issue in issues | filter:issueFilter | orderBy:"id"',
           ng-click="onClickIssue(issue)")
          span.id {{issue.id}}
          span.subject(tooltip-html-unsafe="<h6>{{issue.subject}}</h6><p><span>priority: {{issue.priority.name}}</span><br><span>assigned: {{issue.assigned_to.name}}</span></p>",
                       tooltip-popup-delay='500') {{issue.subject}}
          button.btn(type='button',
                     ng-hide='isContained(issue)')
            i.fa.fa-plus
          button.btn(type='button',
                     ng-show='isContained(issue)')
            i.fa.fa-minus

