div#options(ng-controller='OptionCtrl')

  header
    div.caption
      div.title
        div.icon
          span.icon-settings
        span Options


  div.settings-section.form-group
    div.setting-labels
      label.control-label Show Navigation
      div.setting-description
        span Show the navigation bar when scrolling.
    div.setting-options
      input.btn(type="checkbox",
                name="showNavigation",
                ng-model="options.showNavigation",
                ga-click="showNavigation")


  div.settings-section.form-group
    div.setting-labels
      label.control-label Reports Usage
      div.setting-description
        span Automatically send anonymous usage statistics and crash reports. This function uses cookie.
    div.setting-options
      input.btn(type="checkbox", name="reportUsage", ng-model="options.reportUsage")


  div.settings-section.form-group
    div.setting-labels
      label.control-label Clear Ticket & Project
      div.setting-description
        span Remove all tickets and project from list.
    div.setting-options
      button.btn.btn-default.btn-sm.ladda-button(ng-click='clearTickets()',
                                                 uz-loading='isSetting',
                                                 data-style='zoom-in',
                                                 data-size='xs',
                                                 data-spinner-color="#555"
                                                 ga-click='clearTickets')
        span Clear


  div.clear(ng-show='state.debug')
    button.btn.btn-default.btn-sm(ng-click='clearOptions()', ga-click='clear')
      i.fa.fa-exclamation-triangle
      span Clear All
 
