div#project(ng-controller='ProjectCtrl')

  header
    div.caption
      div.title
        div.icon
          span.icon-list
        span Project

  // edit list
  div.animate-height(uz-auto-height='section')

    section

      // select
      div.form-group.project
        uz-dropdown(items='accounts',
                    selected='selectedAccount',
                    format='item.url',
                    selected-format='selected[0].url')

      // search
      div.form-group.search
        label.sr-only Search
        input.form-control.input-sm(type='search',
                                    placeholder='search...',
                                    ng-model='searchField.text')
        i.fa.fa-search


      // issues
      div.issueList
        ul
          li(ng-repeat='item in projectsInList | filter:editState.listFilter | orderBy:"id"')
            button.issue(type='button', ng-click="editState.onClickItem(item)", ga-click='projectItem')
              span.id {{item.id}}
              span.subject {{item.text}}
              div.btn(ng-hide='editState.isContained(item)')
                span.icon-plus
              div.btn(ng-show='editState.isContained(item)')
                span.icon-minus
              button.btn.external-link(type='button', ng-click="editState.openLink(item.url + '/projects/' + item.id)", ga-click='projectLink')
                span.icon-question

      // page
      div.page
        uz-pagination.pagination-small(total-items='totalItems',
                                       page='editState.currentPage',
                                       items-per-page='itemsPerPage')
