// id
.property-list
  label.control-label
    span User ID
    i.fa.fa-asterisk(ng-show='account.id.$error.required')
    input.form-control.input-sm(
      type='text',
      name='id',
      ng-model='authParams.id',
      placeholder='ex) admin',
      ng-disabled="state.isSaving",
      ng-class="{isSaving: state.isSaving}",
      required)

 // pass
.property-list
  label.control-label
    span Password
    i.fa.fa-asterisk(ng-show='account.password.$error.required')
    input.form-control.input-sm(
      type='password',
      name='password',
      ng-model='authParams.pass',
      placeholder='ex) passw0rd',
      ng-disabled="state.isSaving",
      ng-class="{isSaving: state.isSaving}",
      required)

include _other_account_settings
