div#options.bottom-space-m(ng-controller='OptionCtrl')

  header
    a(href="#", ng-click="options.isCollapseOptions = !options.isCollapseOptions")
      div.caption
        p.caption__title
          span.icon-settings.caption__icon
          span Options
          i.fa.fa-angle-up.caption__icon--collapse(ng-class="{rotate180: options.isCollapseOptions}")

  div.collapse(collapse="options.isCollapseOptions")

    div.setting__section.form-group.top-space-l
      div.setting__labels
        label.control-label Number of issues per Page.
        div.setting__description
          span min: 10, max: 50
      div.setting__options
        input.form-control.input-sm.setting__input(type="number", name="itemsPerPage", max="50", min="10", ng-model="options.itemsPerPage")

    div.setting__section.form-group
      div.setting__labels
        label.control-label Manual time step [minutes]
        div.setting__description
          span min: 1, max: 60
      div.setting__options
        input.form-control.input-sm.setting__input(type="number", name="stepTime", max="60", min="1", ng-model="options.stepTime")

    div.setting__section.form-group
      div.setting__labels
        label.control-label Pomodoro time [minutes]
        div.setting__description
          span min: 1, max: 60
      div.setting__options
        input.form-control.input-sm.setting__input(type="number", name="pomodoroTime", max="60", min="1", ng-model="options.pomodoroTime")

    div.setting__section.form-group
      div.setting__labels
        label.control-label Font size
        div.setting__description
          span min: 50, max: 100
      div.setting__options
        input.form-control.input-sm.setting__input(type="number", name="fontSize", max="100", min="50", ng-model="options.fontSize")

    div.setting__section.form-group
      div.setting__labels
        label.control-label Enable Project's Star
        div.setting__description
          span Use star in Project Select list.
      div.setting__options
        input.switch.setting__button(type="checkbox", name="isProjectStarEnable", ng-model="options.isProjectStarEnable")

    div.setting__section.form-group
      div.setting__labels
        label.control-label Hide Projects
        div.setting__description
          span Hide Projects which doesn't have opened tickets.
      div.setting__options
        input.switch.setting__button(type="checkbox", name="isProjectStarEnable", ng-model="options.hideNonTicketProject")

    div.setting__section.form-group
      div.setting__labels
        label.control-label Remove Closed Issues
        div.setting__description
          span Remove closed issues from select list automatically on startup.
      div.setting__options
        input.switch.setting__button(type="checkbox", name="removeClosedTicket", ng-model="options.removeClosedTicket")

    div.setting__section.form-group
      div.setting__labels
        label.control-label Reports Usage
        div.setting__description
          span Automatically send anonymous usage statistics and crash reports.
      div.setting__options
        input.switch.setting__button(type="checkbox", name="reportUsage", ng-model="options.reportUsage")

    div.setting__section.form-group
      div.setting__labels
        label.control-label Clear Ticket & Project
        div.setting__description
          span Remove all tickets and project from select list.
      div.setting__options(tooltip="Please finish tracking!",
                           tooltip-animation="false",
                           tooltip-enable="state.isAutoTracking || state.isPomodoring",
                           tooltip-popup-delay='300')
        button.btn.btn-sm.btn-default.loading(ng-click='clearTickets()',
                                       ng-disabled='state.isAutoTracking || state.isPomodoring',
                                       uz-loading='isSetting',
                                       ga-click='clearTickets')
          span Clear

    div.clear(ng-show='state.debug')
      button.btn.btn-default.btn-sm(ng-click='clearOptions()', ga-click='clear')
        i.fa.fa-exclamation-triangle
        span Clear All
