div.form-group.setting__section.setting__section--block(ng-controller='PluginCtrl')

  div.setting__labels
    label.control-label Plugins

  div.setting__options

    // input url of plugin
    div.input-and-btn
      div.form-group.input
        label.sr-only Plugin Url
        input.form-control.input-sm(type='text',
                                    placeholder='URL of plugin',
                                    ng-model='inputField.text')
      button.btn.input-and-btn__plus-btn(ng-click='clickAddPlugin(inputField.text)',
                                         ga-click='addPlugin')
        span.icon-plus

    // plugin list
    ol.numbered-list.numbered-list--clickable
      li.list(ng-repeat='plugin in plugins | orderBy:"plugin.name"',
              ng-click='clickRemovePlugin(plugin.name)',
              ga-click='removePlugin')
        .number
        .list-item
          .list-item__label
            span {{plugin.name}}
        button.btn.list-item__button--hover(type='button')
          i.icon-minus
